body{
	background-image: url("Image7.webp");
	background-size: cover;
	background-position: center;
	}
#Title{
	color:white;
	float: left;
}
.topnav{
	margin-left:50%;
}
a:link {
	color: white;
	background-color: transparent;
	text-decoration: none;
}	
a:visited {
	color: white;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: blue;
	background-color: transparent;
	text-decoration: underline;
}

a:active {
	color: white;
	background-color: transparent;
	text-decoration: underline;
}


button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 50px;
    font-weight:bold;
    border:5px solid #fff;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative ;
    overflow: hidden;
}

span{
    background: #fff;
    height: 100%;
    width: 0;
    border-radius: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s ;
}
button:hover span{
    width: 100%;
}
button:hover{
	color:black;
    border: none;

}

.row1{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.row2{
	margin-top:5%;
	margin-left:1%;
	color: black;
	width:50%;
}
.MyCodes img{
	border: 3px solid #fff;
	border-radius:10vh;
}
.OthersCodes img{
	border: 3px solid #fff;
	border-radius:10vh;
}
.W3Schools img{
	border: 3px solid #fff;
	border-radius:10vh;
}
#Audio1{
	margin-top:4%;
	margin-left:78%;
}
#Audio2{
	margin-top:22.5%;
	margin-left:78%;
}
#Audio3{
	margin-top:19.5%;
	margin-left:78%;
}
#Audio4{
	margin-left:78%;
}
#Code1and4{
	background-color:brown;
	border:2px solid #fff;
	border-radius:10vh;
	text-align:center;
}
#Code2and5{
	background-color:brown;
	border:2px solid #fff;
	border-radius:10vh;
	text-align:center;
}
#Code3and6{
	background-color:brown;
	border:2px solid #fff;
	border-radius:10vh;
	text-align:center;
}